h1#title{
    font-size: 40px;
    font-family: 'Press Start 2P', monospace;
}

html{
    background-color: lightblue;
    text-align: center;
}

hr{
    width: 50%;
}

h5.lolCopyright{
    color: red;
    margin: 0%;
}

h6.joker{
    color: green;
    margin: 0%;
}

